*~
*.bkp*

config/starship/config.toml

.gitrepos
.fzf
.tmux

.gitconfig
.git_extra_configs
.git_downloads
.config.properties

.worktrees

# Override global _* ignore for zsh completion files
!zsh_completions.d/_*
